/* font */

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3f4241;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

/* end font */

/* layout */

body {
  margin-left: 140px;
  margin-right: 140px;
}

@media screen and (max-width: 1024px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* end layout */

/* header */

header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.two_block,
.two_block_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

@media screen and (max-width: 767px) {
  .two_block {
    grid-template-columns: 1fr;
  }
}

header a:link,
footer a:link {
  text-decoration: none;
  color: #3f4241;
}

header a:visited,
footer a:visited {
  text-decoration: none;
  color: #3f4241;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
  color: #3f4241;
}

.inline_list li {
  display: inline-block;
  float: right;
  margin-left: 20px;
  line-height: 16px;
}

/* End header */

/* footer */

footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* <<<<<<<<<<<<<<<<<< end footer >>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<< home page >>>>>>>>>>>>>>>>>> */

/* home page overlay */

.close {
  background: none;
  color: white;
  border: 0;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}
/* end home page overlay */
.container {
  display: grid;
  grid-template-columns: 1fr 28% 28% 1fr;
  grid-column-gap: 20px;
}
.container1,
.container2,
.container3,
.container4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.img_block {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* <<<<<<<<<<<<<<<<<<<< end home page >>>>>>>>>>>>>>>>>>>>>>*/

/* about page */
.one_block {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 1024px) {
  .one_block {
    margin-left: 10px;
    margin-right: 10px;
  }
  .two_block_about {
    grid-template-columns: 1fr;
  }
}

.about_title {
  font-size: 50px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .about_title {
    font-size: 30px;
  }
}

.about_photo {
  margin-bottom: 40px;
  width: 100%;
  object-fit: cover;
}

.about_block {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.about_block a:link,
.about_title a:link,
.about_block a:visited,
.about_title a:visited {
  color: #3f4241;
}

/* end about page */
